.Loading {
    text-align: center; 
}

.Loading h3 {
    font-size: 3rem;
    letter-spacing: .2rem;
    color: var(--second-color);
}

.Loading img {
    height: 25rem;
}

.Loading .ant-modal-footer {
    display: none;
}