.System {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 100vh;
}


/* Small Screens */
@media screen and (max-width: 1300px) {
    .System {
        display: grid;
        grid-template-columns: 4fr 1fr;
    }
}